* {
  font-family: 'Oxygen', sans-serif;
  font-size: 8pt;
  fill: #262626;
}
body {
  margin: 0;
}
.h2 {
  font-size: 9pt;
}
.white {
  fill: #FFF;
}
.normal {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.toolbar {
  fill: #0077B3;
}
.toolbox {
  fill: #D8D8D8;
}
.toolbox-header {
  fill: #A3A3A3;
}
.toolbox-activation {
  fill: #262626;
}
.activation {
  fill: #262626;
}
.toolbox-frame {
  fill: transparent;
  stroke: #181818;
}
.frame {
  fill: transparent;
  stroke: #181818;
}
.editable-text {
    fill: #ffffff;
}
.editable-text-input{
    background-color: #e0f5ff;
    color: black;
}
.centered-text{
    text-anchor:middle;
}
.arrow-line {
  stroke: #181818;
}
.lifeline-rect {
  fill: #0088CC;
  stroke: #181818;
  opacity: 0.7;
  stroke-width: 1.5px;
  cursor: move;
  pointer-events: all;
}
.lifeline-rect .text {
  color: #FFF;
}
.rect-marker {
  fill: #3C3C3C;
}
.lifeline-line {
  stroke: #181818;
  stroke-dasharray: 4,1;
  stroke-width: 1.5px;
}
.activation-toolbox-item {
  fill: #181818;
}
