#root-container {
   margin: 0;
   padding: 0;
   height: 100vh;
   width: 100vw;
}

.fill {
   min-height: 100%;
   height: 100%;
}

.tool-palette{
   height: 200px;
   background-color: #204d74;
}

body{
   margin: 0;
   padding: 0;
}

